USE [master]
GO
/****** Object:  Database [oboiShop]    Script Date: 18.04.2026 15:04:30 ******/
CREATE DATABASE [oboiShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oboiShop', FILENAME = N'F:\BD\oboiShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'oboiShop_log', FILENAME = N'F:\BD\logo\oboiShop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oboiShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oboiShop]
GO
/****** Object:  Table [dbo].[ed_iz]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ed_iz](
	[id] [int] NOT NULL,
	[id_mater] [int] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_ed_iz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ed_izmer_chir]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ed_izmer_chir](
	[id] [int] NOT NULL,
	[id_prod] [int] NULL,
	[name] [int] NULL,
 CONSTRAINT [PK_ed_izmer_chir] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[lastaname] [nvarchar](50) NULL,
	[phone] [int] NULL,
	[id_user] [int] NULL,
	[emal] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materail_import]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materail_import](
	[id_mater] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[id_type_mater] [int] NULL,
	[price_mater] [int] NULL,
	[kolich] [int] NULL,
	[min_kolich] [int] NULL,
	[kolich_yp] [int] NULL,
 CONSTRAINT [PK_materail_import] PRIMARY KEY CLUSTERED 
(
	[id_mater] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[id_type_mat] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[proc_brac] [nvarchar](50) NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[id_type_mat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pathners]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pathners](
	[id] [int] NOT NULL,
	[id_emp] [int] NULL,
	[id_pro] [int] NULL,
 CONSTRAINT [PK_Pathners] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id_product] [int] NOT NULL,
	[id_type_product] [int] NULL,
	[name] [nvarchar](50) NULL,
	[articul] [int] NULL,
	[price_partner] [int] NULL,
	[id_chir] [int] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_material]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_material](
	[id] [int] NOT NULL,
	[id_Product] [int] NULL,
	[id_Material] [int] NULL,
	[kolich_mater] [int] NULL,
 CONSTRAINT [PK_Product_material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_type]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_type](
	[id_type] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[koif_type0] [nvarchar](50) NULL,
 CONSTRAINT [PK_product_type] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id_role] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.04.2026 15:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_user] [int] NOT NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[id_role] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employe]  WITH CHECK ADD  CONSTRAINT [FK_Employe_Users] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Employe] CHECK CONSTRAINT [FK_Employe_Users]
GO
ALTER TABLE [dbo].[materail_import]  WITH CHECK ADD  CONSTRAINT [FK_materail_import_ed_iz] FOREIGN KEY([kolich_yp])
REFERENCES [dbo].[ed_iz] ([id])
GO
ALTER TABLE [dbo].[materail_import] CHECK CONSTRAINT [FK_materail_import_ed_iz]
GO
ALTER TABLE [dbo].[materail_import]  WITH CHECK ADD  CONSTRAINT [FK_materail_import_Material_type] FOREIGN KEY([id_type_mater])
REFERENCES [dbo].[Material_type] ([id_type_mat])
GO
ALTER TABLE [dbo].[materail_import] CHECK CONSTRAINT [FK_materail_import_Material_type]
GO
ALTER TABLE [dbo].[Pathners]  WITH CHECK ADD  CONSTRAINT [FK_Pathners_Employe] FOREIGN KEY([id_emp])
REFERENCES [dbo].[Employe] ([id])
GO
ALTER TABLE [dbo].[Pathners] CHECK CONSTRAINT [FK_Pathners_Employe]
GO
ALTER TABLE [dbo].[Pathners]  WITH CHECK ADD  CONSTRAINT [FK_Pathners_product] FOREIGN KEY([id_pro])
REFERENCES [dbo].[product] ([id_product])
GO
ALTER TABLE [dbo].[Pathners] CHECK CONSTRAINT [FK_Pathners_product]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_ed_izmer_chir] FOREIGN KEY([id_chir])
REFERENCES [dbo].[ed_izmer_chir] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_ed_izmer_chir]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_product_type] FOREIGN KEY([id_type_product])
REFERENCES [dbo].[product_type] ([id_type])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_product_type]
GO
ALTER TABLE [dbo].[Product_material]  WITH CHECK ADD  CONSTRAINT [FK_Product_material_materail_import] FOREIGN KEY([id_Material])
REFERENCES [dbo].[materail_import] ([id_mater])
GO
ALTER TABLE [dbo].[Product_material] CHECK CONSTRAINT [FK_Product_material_materail_import]
GO
ALTER TABLE [dbo].[Product_material]  WITH CHECK ADD  CONSTRAINT [FK_Product_material_product] FOREIGN KEY([id_Product])
REFERENCES [dbo].[product] ([id_product])
GO
ALTER TABLE [dbo].[Product_material] CHECK CONSTRAINT [FK_Product_material_product]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id_role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
